label {
	display:block;
}

h1.admin-page-title
{
    text-align: center;
}

div.admin-main-buttons
{
}

div.admin-page-area
{
    margin-left: 0;
}

div.admin-page-area input
{
    margin-left: 0;
}


li.admin-draft
{
    color: red;
}

li.admin-draft a
{
    color: red;
}

li.admin-published
{
    color: black;
}

li.admin-published a
{
    color: black;
}

.timestamp {
  color: gray;
}

.tags a:visited 
{
    text-decoration: none;
}

.tags a:link
{
    text-decoration: none;

}

.tags a:active
{
    text-decoration: underline;
    color: grey;
}

.tags a:hover
{
    text-decoration: underline;
    color: grey;
}
 
.tags li {
display:inline;
}

.tag-cloud-tiny
{
    font-size: 8pt;
}

.tag-cloud-small 
{
    font-size: 10pt;
}

.tag-cloud-medium 
{
    font-size: 12pt;
}

.tag-cloud-large 
{
    font-size: 14pt;
}

.tag-cloud-huge
{
    font-size: 16pt;
}

a.subscribe {
  display:block;
  width:49px;
  height:15px;
background-image : url('/static/rss2-small.gif');
}
a.subscribe span {
  display:none;
}