<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ blog_name }} - {{ blog_owner }}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
</head>


<body>

<h1>
  <a href="{{ blog_path }}">{{ blog_name }}</a> 
  <span class="author">{{ blog_owner }}</span>
</h1>

 
<div id="articles">
  {% block main %}{% endblock %}
</div>

  
<div id="recent">    
  {% block recent_list %}{% endblock %}
</div>
<div id="date_list">
  {% block date_list %}{% endblock %}
</div>


<div id="tags">
  {% block tag_list %}{% endblock %}
</div>
<p>
<a href="{{ archive_path }}">Complete archive</a>
</p>

<a href="{{ rss2_path }}" class="subscribe">
	<span>Subscribe</span>
<!--	<img src="/static/rss2-small.gif" width="49" height="15" border="0">
-->
</a>


{% ifequal host "google" %}
<!-- Google Analytics -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5189686-1");
pageTracker._trackPageview();
</script>

<!-- End Google Analytics -->
{% endifequal %}

</body>
</html>
