{% extends "base.html" %}

{% block main %}
  {% for article in articles %}
    {% include "article.html" %}
  {% endfor %}
{% endblock %}

{% block recent_list %}
  {% if recent %}
    <h5>Recent</h5>
    <ul>
    {% for article in recent %}
      <li><a href="{{ article.path }}">{{ article.title }}</a>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block date_list %}
  {% if date_list %}
    <h5>By month</h5>
    <ul>
    {% for date_count in date_list %}
      <li><a href="{{ date_path }}/{{ date_count.date|date:"Y-m" }}/">{{ date_count.date|date:"F, Y" }}</a> ({{ date_count.count }})
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block tag_list %}
  {% if tag_list %}
    <h5>Tags</h5>
    <ul class="tags">
    {% for tag_count in tag_list %}
      <li>
      <a class="{{ tag_count.css_class }}" 
         title="{{ tag_count.count }}"
         href="{{ tag_path }}/{{ tag_count.tag }}/">{{ tag_count.tag }}</a>
      </li> 
   {% endfor %}
    </p>
  {% endif %}
{% endblock %}

